#mySidenav a {
  position: absolute;
  left: 10px;
  transition: 0.3s;
  padding: 15px;
  width: 175px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}
  
#mySidenav a:hover {
  left: 0;
}

#vendors {
  top: 90px;
  background-color: #68a9ae;
}

#friends {
  top: 180px;
  background-color: #68a9ae;
}

 