#mySidenav a {
    position: absolute;
    left: 5px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #vendors {
    top: 150px;
    background-color: #68a9ae;
  }

  #friends {
    top: 250px;
    background-color: #68a9ae;
  }
  
  
 