/*  src/Title.css  */
.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-left: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(10, 0, 0);
}